<%- include('../partials/header.ejs') %>

<link href="/register.css" rel="stylesheet">

<div class="form">
    <div class="formcont container">
        <div class="formrow row no-gutters">
            <div class="formcol1 col-6">
                <img class="loginimg img-fluid" src="/img/headerlogo.jpeg">
            </div>
            <div class="col-6 px-5 py-2">
                <h1 class="m-3 text-center">SignUp</h1>
                <form action="/signup" method="post">
                    <fieldset class="form-group option text-center">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="Admin" checked>
                          <label class="form-check-label" for="gridRadios1"> Admin</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="User">
                          <label class="form-check-label" for="gridRadios2"> User</label>
                        </div>
                  </fieldset>
                    <div class="form-row m-3">
                        <h5>Fullname:</h5>
                        <input class="form-control" type="text" name="fullname" placeholder="user" required="true">
                    </div>
                    <div class="form-row m-3">
                        <h5>Email:</h5>
                        <input class="form-control" type="email" name="email" placeholder="user@gmail.com" required="true">
                    </div>
                    <div class="form-row m-3">
                        <h5>Password:</h5>
                        <input class="form-control" minlength="10" type="password" name="password" placeholder="***********" required="true">
                    </div>
                    <p class="text-danger text-center"><%= message %></p>
                    <div class="form-row m-3">
                        <button class="btn" type="submit">Create Account</button>
                    </div>
                </form>
                <p class="text-center">Already have an account?<a class="login" href="/login"> Login</a></p>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>