<form action="<%= url %>" method="get">
    <button class="btn btn-primary m-1" type="submit">
        <% if(mail==email) {%>
        Edit Authorized
        <% }else{ %>
        Edit !Authorized
        <% } %>
    </button>
</form>