<%- include('partials/header') %>
    <link rel="stylesheet" href="/home.css">
    <section class="about">
        <div class="welcome">
            <h1 class="welcome1">Welcome to our College Engagement App</h1>
        </div>
    </section>
    </div>
    <div class="row d-flex justify-content-center m-4" id="main_box">
        <div class="card col-4" style="width: 18rem;">

            <div class="card-body">
                <img src="/img/google-logo.jpeg" class="card-img-top" alt="...">
                <h5 class="card-title">My first Interview at Google</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content. Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Read More...</a>
            </div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Blog 1</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Read More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Blog 2</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-primary">Read More...</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Notice</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Culpa cupiditate non deserunt neque
                        voluptate, fugit facilis totam repellat esse. Accusantium blanditiis quia, nam odio in accusamus
                        sed fuga nostrum molestiae. </p>
                    <a href="#" class="btn btn-primary">Read More...</a>
                </div>
            </div>

        </div>
    </div>
    <div class="info p-3">
        <h1 class="text-center">Blog</h1>
    <p>A blog, also known as weblog, is a type of website that is like a diary or journal. Blog organizes content in the form of categories and posts. Posts on a blog are presented in reverse chronological order. That means your latest post goes to the top of the page. That way, when you make a new post, it will come first and the first post will go below it. Anyone can create a blog and then write on that blog. Bloggers (a word for people who write on blogs) often write about their opinions and thoughts. A blog containing video material is called a video blog or video log, usually shortened to vlog.

        When a person writes on a blog, what they write is in the form of a post, which is a single piece of writing on the blog. Posts often include links to other websites.
        
        Blogs can have one or more writers. If they have more than one writer, they are often called community blogs, team blogs, or group blogs because the thoughts are made by more than one person.</p>
    </div>
    
    <div class="info p-3">
    <h1 class="text-center">Interview Experience</h1>
    <p><b>Basic Interview Questions:</b> <br>
        Tell me about yourself. <br>
        What are your strengths? <br>
        What are your weaknesses? <br>
        Why do you want this job? <br>
        Where would you like to be in your career five years from now? <br>
        What's your ideal company?  <br>
        What attracted you to this company? <br>
        Why should we hire you? <br>
        What did you like least about your last job? <br>
        When were you most satisfied in your job?   <br>
        What can you do for us that other candidates can't? <br>
        What were the responsibilities of your last position?   <br>
        Why are you leaving your present job?   <br>
        What do you know about this industry?   <br>
        What do you know about our company? <br>
        Are you willing to relocate?    <br>
        Do you have any questions for me?   <br>

        <b>Behavioral Interview Questions:</b> <br>
        What was the last project you led, and what was its outcome? <br>
        Give me an example of a time that you felt you went above and beyond the call of duty at work. <br>
        Can you describe a time when your work was criticized? <br>
        Have you ever been on a team where someone was not pulling their own weight? How did you handle it? <br>
        Tell me about a time when you had to give someone difficult feedback. How did you handle it?
        <br>What is your greatest failure, and what did you learn from it?
        <br>How do you handle working with people who annoy you?
        <br>If I were your supervisor and asked you to do something that you disagreed with, what would you do?
        <br>What was the most difficult period in your life, and how did you deal with it?
        <br>Give me an example of a time you did something wrong. How did you handle it?
        <br>Tell me about a time where you had to deal with conflict on the job.
        <br>If you were at a business lunch and you ordered a rare steak and they brought it to you well done, what would you do?
        <br>If you found out your company was doing something against the law, like fraud, what would you do?
        <br>What assignment was too difficult for you, and how did you resolve the issue?
        <br>What's the most difficult decision you've made in the last two years and how did you come to that decision?
        <br>Describe how you would handle a situation if you were required to finish multiple tasks by the end of the day, and there was no conceivable way that you could finish them.

        <br><b>Salary Questions:</b>
        <br>What salary are you seeking?
        <br>What's your salary history?
        <br>If I were to give you this salary you requested but let you write your job description for the next year, what would it say?

        <br><b>Career Development Questions:</b>
        <br>What are you looking for in terms of career development?
        <br>How do you want to improve yourself in the next year?
        <br>What kind of goals would you have in mind if you got this job?
        <br>If I were to ask your last supervisor to provide you additional training or exposure, what would she suggest?

        <br><b>Getting Started Questions:</b>
        <br>How would you go about establishing your credibility quickly with the team?
        <br>How long will it take for you to make a significant contribution?
        <br>What do you see yourself doing within the first 30 days of this job?
        <br>If selected for this position, can you describe your strategy for the first 90 days?

        <br><b>More Questions About You:</b>
        <br>How would you describe your work style?
        <br>What would be your ideal working environment?
        <br>What do you look for in terms of culture—structured or entrepreneurial?
        <br>Give examples of ideas you've had or implemented.
        <br>What techniques and tools do you use to keep yourself organized?
        <br>If you had to choose one, would you consider yourself a big-picture person or a detail-oriented person?
        <br>Tell me about your proudest achievement.
        <br>Who was your favorite manager and why?
        <br>What do you think of your previous boss?
        <br>Was there a person in your career who really made a difference?
        <br>What kind of personality do you work best with and why?
        <br>What are you most proud of?
        <br>What do you like to do?
        <br>What are your lifelong dreams?
        <br>What do you ultimately want to become?
        <br>What is your personal mission statement?
        <br>What are three positive things your last boss would say about you?
        <br>What negative thing would your last boss say about you?
        <br>What three character traits would your friends use to describe you?
        <br>What are three positive character traits you don't have?
        <br>If you were interviewing someone for this position, what traits would you look for?
        <br>List five words that describe your character.
        <br>Who has impacted you most in your career and how?
        <br>What is your greatest fear?
        <br>What is your biggest regret and why?
        <br>What's the most important thing you learned in school?
        <br>Why did you choose your major?
        <br>What will you miss about your present/last job?
        <br>What is your greatest achievement outside of work?
        <br>What are the qualities of a good leader? A bad leader?
        <br>Do you think a leader should be feared or liked?
        <br>How do you feel about taking no for an answer?
        <br>How would you feel about working for someone who knows less than you?
        <br>How do you think I rate as an interviewer?
        <br>Tell me one thing about yourself you wouldn't want me to know.
        <br>Tell me the difference between good and exceptional.
        <br>What kind of car do you drive?
        <br>There's no right or wrong answer, but if you could be anywhere in the world right now, where would you be?
        <br>What's the last book you read?
        <br>What magazines do you subscribe to?
        <br>What's the best movie you've seen in the last year?
        <br>What would you do if you won the lottery?
        <br>Who are your heroes?
        <br>What do you like to do for fun?
        <br>What do you do in your spare time?
        <br>What is your favorite memory from childhood?

        <br><b>Brainteasers:</b>
        <br>How many times do a clock's hands overlap in a day?
        <br>How would you weigh a plane without a scale?
        <br>Tell me 10 ways to use a pencil other than writing.
        <br>Sell me this pencil.
        <br>If you were an animal, which one would you want to be?
        <br>Why is there fuzz on a tennis ball?
        <br>If you could choose one superhero power, what would it be and why?
        <br>If you could get rid of any one of the US states, which one would you get rid of and why?
        With your eyes closed, tell me step-by-step how to tie my shoes.</p>
    </div>
    <%- include('partials/footer') %>